<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/img/logo.png" alt="image">
            </a>
        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Articles</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Instagram</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <!-- <a routerLink="" [fragment]="'Chatrapati'" class="default-btn">Back</a> -->
            <a (click)='buttonBack()' class="default-btn">Back</a>

            <ul class="social">
                <li><a href="https://www.linkedin.com/in/yash-turmbekar-a842811a1/" target="_blank"><i class="ri-linkedin-box-line"></i></a></li>
                <li><a href="https://twitter.com/goprobaba" target="_blank"><i class="ri-twitter-line"></i></a></li>
                <li><a href="https://www.youtube.com/c/goprobaba/featured" target="_blank"><i class="ri-youtube-line"></i></a></li>
                <li><a href="https://www.instagram.com/gopro.baba/" target="_blank"><i class="ri-instagram-line"></i></a></li>
            </ul>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <!-- <section class="services-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <div class="services-details-overview">
                    <div class="services-details-image">
                        <img src="assets/img/services/img1.jpg" alt="image">
                    </div>
                    <div class="services-details-image">
                        <img src="assets/img/services/img2.jpg" alt="image">
                    </div>
                </div>
                <div class="container">
                    <div class="services-details-overview">
                            <p><a class="default-btn">Open Letter to Chatrapati Shivaji Maharaj</a></p> 
                            <p>...आस्तेकदम <br> ...आस्तेकदम <br> ...आस्तेकदम <br>
                            
                            .राजे आज मुजरा करायला पण हात थरथरतोय. कारणे बरीच आहेत. तुम्ही ज्या स्वरज्याच स्वप्न बघितले अन् जे स्वराज्य उभारल्, आज त्याची अवस्था दननीय अवस्था झाली आहे <br>
                            
                            .ज्या स्वरज्यात आठरापगड जातीचे लोक गुण्यागोविंदाने राहयचे, तेच लोक एकमेकांसमोर समोर उभे टाकलेत. जाळपोळ, दंगा, मारामार्या यांनी अनेक लहान मुलांना, आबालवृद्धांना जखमी केलंय
                            <br>?...शरिरावर झालेले घाव भरून येतील, पण मनावर झालेल्या घावांच काय
                            <br>
                            .ज्या भगव्या मुळे तिरंगा शाबूत आहे, त्या भगव्याचा उपयोग लोक आपल्या फायद्यासाठी करून घेत आहेत
                            <br>
                            शिवजयंती जवळ येत आहे. वाढवलेली दाढी, कपाळावर चंद्र कोर, कानात बाळी, हातात राजमुद्रेची आंगठी असा ट्रेंडच आला आहे 
                            <br>
                            .या सर्व गोष्टी चांगल्याच आहेत. त्याचा काही प्राॅब्लेम नाही. पण शिवरांचे गुण आंगारण्याचा ट्रेंड का नसावा
                            <br>
                            .ज्या गडांमुळे हे स्वराज्य उभारलं, सांभाळल त्यांना आज उतरती कळा लागली आहे. आजही इथला एक एक दगड इतिहासाची साक्ष देत उभा आहे
                            <br>
                            .पण त्याची देखभाल न केल्याने तोही आज ढासळू लागला आहे
                            <br>
                            तस 'शिवभक्त' ची कमी नाही, पण प्रत्यक्ष गडावर जाऊन गड जपणारे मावळे कमीच
                            <br>
                            ...दिल्लीचेही तख्त राखतो महाराष्ट्र माझा हे ठीक आहे ओ... पण आजच्या घडीला महाराष्ट्र राखला तरी खुप झालं
                            <br>
                            राजे तुम्ही असता तर ही अवस्था झाली नसती
                            <br>
                            !!..म्हनून म्हणतोय "राजे, तुम्ही परत या...!! राजे, तुम्ही परत या
                            </p>
                    </div>    
                </div>
            </div>
        </section> -->

        <section  id="blog-1" class="works-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <div class="row">
                    <div class="services-details-overview">
                        <div class="services-details-image">
                            <img src="assets/img/services/img1.jpg" alt="image">
                        </div>
                        <div class="services-details-image">
                            <img src="assets/img/services/img2.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="works-details-desc">
                            <h3>छत्रपती शिवाजी महाराजांना खुले पत्र</h3> <br>

                            <p>...आस्तेकदम <br> ...आस्तेकदम <br> ...आस्तेकदम <br>
                                
                                .राजे आज मुजरा करायला पण हात थरथरतोय. कारणे बरीच आहेत. तुम्ही ज्या स्वरज्याच स्वप्न बघितले अन् जे स्वराज्य उभारल्, आज त्याची अवस्था दननीय अवस्था झाली आहे <br>
                                
                                .ज्या स्वरज्यात आठरापगड जातीचे लोक गुण्यागोविंदाने राहयचे, तेच लोक एकमेकांसमोर समोर उभे टाकलेत. जाळपोळ, दंगा, मारामार्या यांनी अनेक लहान मुलांना, आबालवृद्धांना जखमी केलंय
                                <br>?...शरिरावर झालेले घाव भरून येतील, पण मनावर झालेल्या घावांच काय
                                <br>
                                .ज्या भगव्या मुळे तिरंगा शाबूत आहे, त्या भगव्याचा उपयोग लोक आपल्या फायद्यासाठी करून घेत आहेत
                                <br>
                                शिवजयंती जवळ येत आहे. वाढवलेली दाढी, कपाळावर चंद्र कोर, कानात बाळी, हातात राजमुद्रेची आंगठी असा ट्रेंडच आला आहे 
                                <br>
                                .या सर्व गोष्टी चांगल्याच आहेत. त्याचा काही प्राॅब्लेम नाही. पण शिवरांचे गुण आंगारण्याचा ट्रेंड का नसावा
                                <br>
                                .ज्या गडांमुळे हे स्वराज्य उभारलं, सांभाळल त्यांना आज उतरती कळा लागली आहे. आजही इथला एक एक दगड इतिहासाची साक्ष देत उभा आहे
                                <br>
                                .पण त्याची देखभाल न केल्याने तोही आज ढासळू लागला आहे
                                <br>
                                तस 'शिवभक्त' ची कमी नाही, पण प्रत्यक्ष गडावर जाऊन गड जपणारे मावळे कमीच
                                <br>
                                ...दिल्लीचेही तख्त राखतो महाराष्ट्र माझा हे ठीक आहे ओ... पण आजच्या घडीला महाराष्ट्र राखला तरी खुप झालं
                                <br>
                                राजे तुम्ही असता तर ही अवस्था झाली नसती
                                <br>
                                !!..म्हनून म्हणतोय "राजे, तुम्ही परत या...!! राजे, तुम्ही परत या
                                </p>
                            <div class="works-details-info">
                                <div class="single-info-box">
                                    <h4>Author</h4>
                                    <span>Yash</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Category</h4>
                                    <span>Open letter</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Date</h4>
                                    <span>February 19, 2020</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Share</h4>
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="https://twitter.com/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                    </ul>
                                </div>

                                <div class="single-info-box">
                                    <a href="mailto:yashturmbekar7@gmail.com" class="default-btn">Send Replay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  id="blog-2" class="works-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <div class="row">
                    <div class="services-details-overview">
                        <div class="services-details-image">
                            <img src="assets/img/services/img3.jpg" alt="image">
                        </div>
                        <div class="services-details-image">
                            <img src="assets/img/services/img4.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="works-details-desc">
                            <h3>!!...कोकणकडा अन् तू</h3><br>
 
                            <p>.सह्याद्रीच्या प्रत्येक कड्यामध्ये आपणास ओढून घेण्याची शक्ती असते असे मला सारखे वाटत होते<br> ..पण तसे सगळ्याच कड्यात नसे. एखाद्या माणसाकडे आपण आपोआप ओढलं जातो तसेच तुझ्यात होते. मी तुझ्याकडे ओढला जात होतो
                                <br>
                                ,कारण तू वेगळी होतीस....!!
                                तू एकमेव होतीस...!! अपार पान्ह्यासारखी, आपल्या वासराला लाडिवाळपणाने कुळवाळणाऱ्या गाईसारखी <br> 
                                ,भर उन्हातील त्या थंड गोड झऱ्यासारखी, कौलारू छप्परातील झरोक्यातून येणाऱ्या आशेच्या किरणासारखी <br>
                                !!...पहिल्या पावसातील मातीच्या वासासारखी, आजुबाजुच्या हिरव्यातून खोदून काढलेल्या लाल वाटे सारखी
                                <br>
                                माझ्या मनात तू डिसेंबर च्या पहिल्या भेटीतच घर केलं होतसं. पहिल्यांदा आपली भेट झाली तेव्हा पुर्ण अनोळखी होतीस. पण त्या दिवशी तुझ्या बरोबर चालता चालता आषाढातील आभाळात अनेक जन्मांच्या <br>...सोबतीसारखे ते ढग आले अन् त्या अनोळखीपणावर पसरले अन् माझ्यात मिसळून गेले<br>
                                ...आदिनारायणाने त्यांत स्वप्नातल्या रंगांसारखी प्रतिबिंबे पाडली. आभाळात पश्चिमेकडे रंग पालटत होते आणि कधी न पाहिलेले ते अनोळखीपण पूर्वी कुठे तरी भेटलो आहे - ते सारे स्मरणारे आहे असे वाटू लागले
                                <br>.तू अबोल होतीस..... तरी इतर कड्यांपेक्षा मला तूच जवळची वाटायलीस. चुकून तुलाही शब्द फुटतील असे मला वाटायचे <br>
                                .मी त्या शब्दांची आतुरतेने वाट पाही. तुझ्याजवळ वारंवार उभा राही‌ अन् वाऱ्यावर डोलणारी ती स्वछंदी केसांसारखी पिवळी फुले पाही <br>
                                .शेवटी तोच अबोलाच मला प्रिय वाटू लागला <br>
                                .पण तुझ्या मनात काही वेगळेच होतं. तू म्हणाली जाता जाता भेटून जा. खूप आठवण येत असेल म्हणून डोळे भरून पाहून जा <br>
                                .काय होते तुझ्या मनात कळलेच नाही, तू भेटीसाठी आसुसलेली मी मग, जास्त विचार केलाच नाही. असाच धावतपळत तुझ्या भेटीसाठी आलो
                                <br>
                                !!...तू समोर दिसल्यावर तेथेच थांबलो‌ आणि तू माझ्यासमोर व्यक्त झालीस अन् तुझ्या विषयी मनात उभारलेल चार दिवसाचं भावविश्व एका क्षणात भंगून गेलं... एवढं खरं<br>
                                "!!...मी मनाला म्हणालो "किती अगदी लहानशा गोष्टींपासून आपण भ्रमात राहत असतो<br>
                                ??"तू काय किंवा मी काय...! आपण सगळेच भ्रमात असतो....!
                                पण आपण जगतोय तो एक भ्रम नाही ना, ते एकदा पहावं
                                &nbsp;
                                "आपणास जगवतं कोण अन् भ्रमवतं कोण <br>
                                त्या शब्दांपुढे मी शांत बसलो. तू परत येशील हि आशा ठेऊन बसलो. नक्की काय झाले होते ते हि कळले नाही <br>
                                !!....आजही पावले त्या वळणावर जाऊन अडतात. तू परतणार नाही असे सारखे सांगतात. जणू काही प्रेमाची दुनियाच संपली आमची <br>
                                
                                !!...बहुतेकतरी शेवटची भेट होती ती
                                </p>
                            <div class="works-details-info">
                                <div class="single-info-box">
                                    <h4>Author</h4>
                                    <span>Yash</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Category</h4>
                                    <span>One Side Love</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Date</h4>
                                    <span>October 31, 2018</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Share</h4>
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="https://twitter.com/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                    </ul>
                                </div>

                                <div class="single-info-box">
                                    <a href="mailto:yashturmbekar7@gmail.com" class="default-btn">Send Replay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  id="blog-3" class="works-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <div class="row">
                    <div class="services-details-overview">
                        <div class="services-details-image">
                            <img src="assets/img/services/img5.jpg" alt="image">
                        </div>
                        <div class="services-details-image">
                            <img src="assets/img/services/img6.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="works-details-desc">
                            <h3>!!...चंद्र, शुक्र अन् सुर्य</h3> <br>

                            <p>
                                ...तुला माहितच आहे, खुल्या चांदण्याची माझी ओढ तशी जुनीच <br>
                                ...कारण माझ्या किरणांसारखा तुझ्यात अहंकार नाही. गोंगाट नाही का तमरभाव नाही <br>
                                .तुझी किरणे जितकी प्रखर तितकीच सौम्य. अमावस्येला तुझ अस्तित्व न दर्शवण्याचा निरहंकार फक्त तुझ्यात आहे <br>
                                .तुझ्या ह्याच शितलतेचा मला नेहमी हेवा वाटतो <br>
                                 &nbsp; ??? आठवतीये मागील वर्षीची ती आपली कोकणकड्यावरील पहिली भेट <br>
                                .पोर्णिमेच्या त्या रात्री आपल्यातले अनोळखीपण दूर होणारचं होते, पण त्यास ओखी वादळाचे ग्रहण लागले <br>
                                ....तुझ्या भेटीसाठी आसुसलेला मी, कशीबशी त्या पाणी गळणाऱ्या अन् वाऱ्यानं फडफडणाऱ्या झोपडीत रात्र काढली पण तुझी भेट काय झालीच नाही<br>
                                .त्यानंतरच्या सह्याद्रीच्या कुशीत घालवलेल्या प्रत्येक रात्रीत तुला भेटायचा केविलवाणा प्रयत्न केला <br>
                                .पण तुला त्या टिंबाऐवढ्या शुक्राच्या चांदणीचीच ओढ खूप होती.‌ अन् आकाशातील तुमची चंद्र-शुक्राची जोडी शोभून पण दिसते<br>
                                .जीवंतपणी मरण अनुभवायचं असेल तर माणसाने प्रेम करावं. कारण प्रेमात आणि मरणात ’स्व’ उरत नाही." व. पुं. च्या ह्या लहानपणी ऐकलेल्या ओळींचा अर्थ तेव्हा कळून चुकला"<br>
                                ,रंगाच्या उधळणीतील त्या सुर्यास्तानंतरच्या भेटीत आपल्यातील अनोळखीपण दूर लोटले गेले होते अन् तुझ्या शितलते बरोबर माझी घनिष्ठ मैत्री ही झाली <br>
                                .पण हे ही कळून चुकले होते की सूर्य आणि चंद्र एकत्र राहू शकत नाहीत.‌ हाच निसर्गाचा नियम आहे. त्याला सुर्य तरी काय करणार <br>
                                .असो <br>
                                .तुझ्यातील अन् शुक्रामधील ती जवळीकता पाहून मी नाखुश आहे असे नाही <br>
                                .पण अचानक एक दिवस आभाळ भरून येईल, दिवस सुद्धा डोळे मिटेल, मंद काळोख पडेल, या आपल्यातील लपंडावाचा खेळाचा कधी तरी शेवट होईल <br>
                                ...अन् तुला माझ्या अस्तित्त्वाची जाणीव होईल, ह्या फक्त एका आशेवर मी तुझी क्षितीजा पलीकडे निरंतरपणे वाट पाहत आहे <br>
                                !!...पण ते घडणं कदापि शक्य नव्हतं...!! अन् ते कदापि शक्यही होणार नाही<br>
                                !!...आता पश्चिमेत आकाशात मुक्त हस्ते होणाऱ्या रंगाच्या उधळणीची माझ्या आयुष्यातील जागा आता नभांच्या गडगडाने अन् विजांच्या कडकडाने घेतली आहे
                                </p>
                            <div class="works-details-info">
                                <div class="single-info-box">
                                    <h4>Author</h4>
                                    <span>Yash</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Category</h4>
                                    <span>Love Tringle</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Date</h4>
                                    <span>October 21, 2018</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Share</h4>
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="https://twitter.com/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                    </ul>
                                </div>

                                <div class="single-info-box">
                                    <a href="mailto:yashturmbekar7@gmail.com" class="default-btn">Send Replay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  id="blog-4" class="works-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <div class="row">
                    <div class="services-details-overview">
                        <div class="services-details-image">
                            <img src="assets/img/services/img8.jpg" alt="image">
                        </div>
                        <div class="services-details-image">
                            <img src="assets/img/services/img7.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="works-details-desc">
                            <h3>!!...माझ्यातला मी</h3>
                            <p>
                            ...सह्याद्रीच्या कडेकपारीतून कोसळणाऱ्या अशा असंख्य धबधब्याचे तुषार तोंडावर झेलत या क्षणभंगुर आयुष्याचा मनस्वी आनंद घेणारा मी<br>
                            ...हरिहरच्या पायऱ्यांच्या कातळरुपी सौंदर्यात मोहून जाणारा मी <br>
                            ...कोयनेच्या काठावर आभाळाचे छत अन् चांदण्याची चादर करुन झोपणारा मी <br>
                            ...वेळे अभावी वासोटा - नागेश्वरी पळत पुर्ण करुन पिंडीवर पाझरणाऱ्या पाण्याच्या थेंबांनी आधाशी पणाने तहान भागवणारा मी <br>
                            ...भर पावसात ढाकच्या देवीला वंदन करून कळराईच्या गगनचुंबी सुळक्याकडे पाहत परत येण्याचा निश्चय करणारा मी <br>
                            ...राजगडाच्या संजीवनी माचीचे मनमोहक रूप न्याहळत, तिचे आपल्याशी जन्मोजन्मीचं काहीतरी नातं असावं या भावविश्वात रमून जाणारा मी <br>
                            ...हत्ती दगडाच्या नेढ्यामधील जगाचा विसर पाडायला लावणाऱ्या वाऱ्याच्या साथीने डुलकी काढणारा मी <br>
                            ...ओखी वादळाच्या तडाख्यात त्या गळणाऱ्या झोपडीत जीव मुठीत धरून रात्र काढणारा मी <br>
                            ...हरिश्चंद्रगडावरील पावसाच्या झडपेने ओलेचिंब होऊन कुडकुडत पुजाऱ्याच्या गुहेत चुलीसमोर शेकत पेलाभर चहा पिणारा मी <br>
                            ...कोकणकड्याचे ते अजश्र रूप डोळ्यात साठवण्याचा केविलवाणा प्रयत्न करीत रंगाच्या उधळणीतील सुर्यास्त मनसोक्तपणे न्यहाळणारा मी <br>
                            ...तटबंदीला आदळणाऱ्या त्या अहंकारी लाटा परतवत आपल्या अस्तित्वाची जाणीव करत दिमाखात उभा असलेल्या विजयदुर्ग कडून नम्रपणा उधार घेणारा मी <br>
                            ...नेसरीच्या खिंडीत रक्तरंजित इतिहासाची साक्ष देत उभ्या असलेल्या सात तलवारी समोर "वेडात मराठे वीर दौडले सात" गाण्याच्या पंक्ती गुणगणारा मी <br>
                            ...महाराजांच्या समाधी समोर नतमस्तक होताच आपसूक निघणारे आश्रु लपवत नव्याने आयुष्य जगण्याची उमेद घेणारा मी <br>
                            ...जगण्यासाठी सह्याद्रीच्या आश्रयाला जाणारा मी <br>
                            ...असा हा महाराष्ट्राचा मी, महाराष्ट्राच्या मातीतील मी <br>
                                </p>
                            <div class="works-details-info">
                                <div class="single-info-box">
                                    <h4>Author</h4>
                                    <span>Yash</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Category</h4>
                                    <span>Self Love</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Date</h4>
                                    <span>January 20, 2019</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Share</h4>
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="https://twitter.com/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                    </ul>
                                </div>

                                <div class="single-info-box">
                                    <a href="mailto:yashturmbekar7@gmail.com" class="default-btn">Send Replay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section  id="blog-4" class="works-details-area bg-0f1d22 ptb-120">
            <div class="container">
                <div class="row">
                    <div class="services-details-overview">
                        <div class="services-details-image">
                            <img src="assets/img/services/img10.jpg" alt="image">
                        </div>
                        <div class="services-details-image">
                            <img src="assets/img/services/img9.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="works-details-desc">
                            <h3>!!...राजगड अन तू</h3>
                            <p>
                                ...प्रिये <br>
                                ,तुला तर माहीतच आहे मला फक्त दोनच प्रवास आवडतात <br>
                                .एक तुझ्या मिठीत येण्यापर्यंतचा अन् दुसरा म्हणजे सह्याद्रीच्या कुशीत लपलेल्या किल्लांवरचा कारण दोन्ही प्रवासाच्या शेवटी मी खूपच खुश असतो <br>
                                .आजकालच्या प्रत्येक प्रवासात मी तुला शोधत असतो. त्या दिवशी पण राजगडाच्या वाटेवर तू मला भेटलीस <br>
                                ...उगवत्या सुर्याच्या किरणांच्या आगमनाने टवटवीत झालेली हिरव्या कुरणातील ती पिवळी धमक फुले अगदी तुझ्यासारखी <br>
                                ...जशी लोकांच्या गराड्यातून तू माझ्याशी फक्त डोळ्यांनी बोलतेस तशीच ती फुलेही आपल्या उंच माना डोलवत माझ्याशी बोलत होतीत <br>
                                ,आणि तांबूस पोपटी गवतातून उठून दिसणारा तो पाली दरवाजा <br>
                                .तो पाहून तुझ्या नाकाजवळील तिळाची आठवण झाली... तो काळाभोर दरवाजा अन् तुझा तो काळा तिळ दोन्ही सौंदर्य वाढविण्याचे काम करतात <br>
                                ...आठवतय का गं तुला आपली पहिली भेट...?? काही क्षणांची का असेना पण आपली नजरानजर झाली. तेव्हा तुला पाहून माझ्या चेहऱ्यावर जे भाव होते <br>
                                ...आज ह्या राजगडाच्या बालेकिल्ल्यावर उभे राहून समोर पसरलेल्या संजीवनी माची कडे पाहून कदाचित तसेच भाव असतील..थोडेसे आश्चर्याचे..थोडे आनंदाचे... थोडे गोंधळलेले <br>
                                ...गडावरही तू मला भेटलीस.... पद्मावती कुंडातील थंडगार गोडसर पाण्यात... भर उन्हात सुवेळा माचीवरून फिरताना जेव्हा मी घामाघूम झालो होतो, तेव्हा मधे मधे येणाऱ्या मंद हवेच्या झोतात <br>
                                .बालेकिल्ल्यावर फडकणाऱ्या भगव्यात...आणि शेवटी संजीवनी माचीवर दमून पायातले बूट काढून शांत बसल्यावर तळपायाला गुदगुल्या करणाऱ्या वाळलेल्या गवतात ही तूच होतीस <br>
                                ...अख्खा गड बघून झाल्यावर जेव्हा मला हत्ती दगडातील नेढ्यात जरा डुलकी लागली, तेव्हा तेथील थंड हवेच्या त्या स्पर्शाने सुद्धा मला तुझी आठवण करून दिली <br>
                                .जसं त्या दिवशी दाराच्या मागे घट्ट मिठी मारून मला जाण्यापासून आडवलं होतस, तशीच ती वाहणारी हवा मला येऊन बिलगत होती <br>
                                ...अन्...जशी साथ तू मला त्या सिमेंटच्या जंगलात येणाऱ्या संकटावर मात करताना देतेस <br>
                                ...तशीच साथ ह्या राकट सह्याद्रीतल्या भटकंती मध्येही कायम देत जा <br>
                                ...अगदी अखंड <br>
                                ...अमर्यादित <br>
                                ...अथांग <br>
                                </p>
                            <div class="works-details-info">
                                <div class="single-info-box">
                                    <h4>Author</h4>
                                    <span>Yash</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Category</h4>
                                    <span>Fort</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Date</h4>
                                    <span>November 22, 2018</span>
                                </div>

                                <div class="single-info-box">
                                    <h4>Share</h4>
                                    <ul class="social">
                                        <li><a href="https://www.instagram.com/" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                        <li><a href="https://twitter.com/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                    </ul>
                                </div>

                                <div class="single-info-box">
                                    <a href="mailto:yashturmbekar7@gmail.com" class="default-btn">Send Replay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="ContactMe" class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a>
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i>  <a href="https://maps.app.goo.gl/CtxZNBErz1rEzyQD9" target="_blank">Yashree, Plot no 41 & 42, Shanti Udyan, Apte Nagar, Kolhapur</a></li>
                            <!-- <li><i class="ri-mail-line"></i> <a href="mailto:yashturmbekar7@gmail.com">goprobaba@gmail.com</a></li>
                            <li><a href="tel:8237381312">8237381312</a><i class="ri-phone-line"></i> </li> -->
                   
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="tel:8237381312" target="_blank">Phone</a></li>
                        <li><a href="https://www.linkedin.com/in/yash-turmbekar-a842811a1/" target="_blank">LinkedIn</a></li>
                        <li><a href="mailto:yashturmbekar7@gmail.com" target="_blank">Gmail</a></li>
                        <li><a href="https://www.instagram.com/gopro.baba/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>  {{currentYear}}  <a href="#" target="_blank">Yash Turmbekar </a> All Rights Reserved by  </p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->