<!-- Start Main Container Area -->
<div class="main-container">
    <aside id="placid-aside" class="placid-aside bg-0f1d22">
        <div class="logo">
            <a>
                <img src="assets/img/logo.png" alt="image">
            </a>
        </div>

        <div class="d-table">
            <div class="d-table-cell">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#articles">Articles</a></li>
                    <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#instagram">Instagram</a></li>
                </ul>
            </div>
        </div>

        <div class="aside-footer">
            <a href="#ContactMe" class="default-btn">Contact Now</a>

            <ul class="social">
                <li><a href="https://www.linkedin.com/in/yash-turmbekar-a842811a1/" target="_blank"><i class="ri-linkedin-box-line"></i></a></li>
                <li><a href="https://twitter.com/goprobaba" target="_blank"><i class="ri-twitter-line"></i></a></li>
                <li><a href="https://www.youtube.com/c/goprobaba/featured" target="_blank"><i class="ri-youtube-line"></i></a></li>
                <li><a href="https://www.instagram.com/gopro.baba/" target="_blank"><i class="ri-instagram-line"></i></a></li>
            </ul>
        </div>

        <div class="line"></div>
    </aside>

    <div id="main-content" class="main-content">

        <div class="responsive-burger-menu">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>

        <div class="main-banner banner-bg9 jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-content">
                            <span class="sub-title">Yash Turmbekar AKA</span>
                            <h1>Gopro Baba</h1>
                            <p>Every mountain top is within reach if you just keep climbing</p>
                            <ul class="social">
                                <li><a href="https://www.linkedin.com/in/yash-turmbekar-a842811a1/" target="_blank"><i class="ri-linkedin-box-line"></i></a></li>
                                <li><a href="https://twitter.com/goprobaba" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                <li><a href="https://www.youtube.com/c/goprobaba/featured" target="_blank"><i class="ri-youtube-line"></i></a></li>
                                <li><a href="https://www.instagram.com/gopro.baba/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="articles" class="projects-area pt-120 pb-90 bg-0f1d22">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/1.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Chasing Stars</a></h3>
                                    <a href="#" class="category">Startrail</a>
                                </div>

                                <div class="date">
                                    <span>November 17, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/2.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Been Too Long On The Road</a></h3>
                                    <a href="#" class="category">Waterfall</a>
                                </div>

                                <div class="date">
                                    <span>July 19, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/3.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <!-- <h3><a routerLink="/blog-details">Gopro on Fire</a></h3> -->
                                    <h3><a href="#">Gopro on Fire</a></h3>
                                    <a href="#" class="category">Long Expo</a>
                                </div>

                                <div class="date">
                                    <span>September 12, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/4.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Having A Wonderful Time</a></h3>
                                    <a href="#" class="category">Arabian Sea</a>
                                </div>

                                <div class="date">
                                    <span>January 10, 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/5.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">King of all Forts - Rajgad</a></h3>
                                    <a href="#" class="category">Forts</a>
                                </div>

                                <div class="date">
                                    <span>November 20, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/6.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">The Beginning Of The End</a></h3>
                                    <a href="#" class="category">Forts</a>
                                </div>

                                <div class="date">
                                    <span>October 15, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/7.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Just Another Day In Paradise</a></h3>
                                    <a href="#" class="category">Day</a>
                                </div>

                                <div class="date">
                                    <span>October 15, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/8.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Halfway To Paradise</a></h3>
                                    <a href="#" class="category">Arabian Sea</a>
                                </div>

                                <div class="date">
                                    <span>January 10, 2019</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/9.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Midnight At The Oasis</a></h3>
                                    <a href="#" class="category">Night</a>
                                </div>

                                <div class="date">
                                    <span>October 15, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/10.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Don’t Give Up The Ship</a></h3>
                                    <a href="#" class="category">Forts</a>
                                </div>

                                <div class="date">
                                    <span>August 29, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/11.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Foot Loose and Fancy Free s</a></h3>
                                    <a href="#" class="category">Forts</a>
                                </div>

                                <div class="date">
                                    <span>November 20, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="single-projects-box">
                            <img src="assets/img/backpacker-projects/12.jpg" alt="image">

                            <div class="content">
                                <div class="inner">
                                    <h3><a href="#">Getting There Is Half The Fun</a></h3>
                                    <a href="#" class="category">Forts</a>
                                </div>

                                <div class="date">
                                    <span>October 15, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section  class="book-trainer-area pb-120 bg-0f1d22">
            <div id="Chatrapati" class="container">
                <div class="book-trainer-content">
                    <h2>Maharashtra</h2>
                    <a (click)="openLetterClick()" class="default-btn">Open Letter to Chatrapati Shivaji Maharaj</a>
                </div>
            </div>
        </section>

        <section id="blog" class="blog-area pt-120 pb-90">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Blog</span>
                    <h2>My Latest Blogs</h2>
                </div>

                <div class="blog-slides owl-carousel owl-theme">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a (click) = 'gotoBlogPage("blog-4")'>
                                <img src="assets/img/backpacker-projects/b-1.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-tag">
                                <li><a href="#">Trek</a></li>
                                <li><a href="#">Monsoon</a></li>
                            </ul>

                            <h3><a (click) = 'gotoBlogPage("blog-4")'>The Most Difficult trek to do in monsoon</a></h3>

                            <div class="post-meta">
                                <ul>
                                    <li><a (click) = 'gotoBlogPage("blog-4")'>Read More</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="single-blog-post">
                        <div class="post-image">
                            <a routerLink="/works-details" [fragment]="'blog-3'">
                                <img src="assets/img/backpacker-projects/b-2.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-tag">
                                <li><a href="#">Fort</a></li>
                                <li><a href="#">Trek</a></li>
                            </ul>

                            <h3><a routerLink="/works-details" [fragment]="'blog-3'">Memorable Night At Almighty Kokankada</a></h3>

                            <div class="post-meta">
                                <ul>
                                    <!-- <li>October 15, 2018</li> -->
                                    <li><a routerLink="/works-details" [fragment]="'blog-3'">Read More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="single-blog-post">
                        <div class="post-image">
                            <a routerLink="/works-details" [fragment]="'blog-1'">
                                <img src="assets/img/backpacker-projects/8.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-tag">
                                <li><a href="#">Beach</a></li>
                                <li><a href="#">Roadtrip</a></li>
                            </ul>

                            <h3><a routerLink="/works-details" [fragment]="'blog-1'">Untouched beach of Arabian Sea</a></h3>

                            <div class="post-meta">
                                <ul>
                                    <li><a routerLink="/works-details" [fragment]="'blog-1'">Read More</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="single-blog-post">
                        <div class="post-image">
                            <a routerLink="/works-details" [fragment]="'blog-2'">
                                <img src="assets/img/backpacker-projects/3.jpg" alt="image">
                            </a>
                        </div>

                        <div class="post-content">
                            <ul class="post-tag">
                                <li><a href="#">Gopro</a></li>
                                <li><a href="#">Long Expo</a></li>
                            </ul>

                            <h3><a routerLink="/works-details" href="#blog-2">How to do steelwool photoghaphy on gopro</a></h3>

                            <div class="post-meta">
                                <ul>
                                    <li><a routerLink="/works-details" [fragment]="'blog-2'">Read More</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="funfacts-area pt-120 pb-90 jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Achivements</span>
                    <h2>Some Interesting Info</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-funfacts">
                            <i><img src="assets/img/plane-logo.png"></i>
                            <p>Countries Visited</p>
                            <h3 class="odometer" data-count="001">000</h3>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-funfacts">
                            <i><img src="assets/img/india-logo.png"></i>
                            <p>States Explored</p>
                            <h3 class="odometer" data-count="3">00</h3>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-funfacts">
                            <i><img src="assets/img/distance-logo.png"></i>
                            <p>Distance Covered</p>
                            <h3 class="odometer" data-count="2421">00</h3>
                            <p>km</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-funfacts">
                            <i><img src="assets/img/fort-logo.png"></i>
                            <p>Forts Conquered</p>
                            <h3 class="odometer" data-count="56">00</h3>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
       
        <section id="instagram" class="my-instagram-area ptb-120 bg-0f1d22">

            <div class="container">

                <div class="instagram-title">
                    <a  href="https://www.instagram.com/gopro.baba/" target="_blank">  Follow me on Instagram <img src="assets/img/instagram2.png"></a>
                </div>
            </div>
            <div class="instagram-slides owl-carousel owl-theme">
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-1.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/B3M6btvA1UJ/" target="_blank" class="link-btn"></a>
                </div>

                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-2.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/B0XeUH-gsLN/" target="_blank" class="link-btn"></a>
                </div>

                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-3.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/CHlF1BYgUNm/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-4.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/CFUb6zpALJr/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-5.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/BoUFie6l4zt/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-6.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/CHF61rMAHqO/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-7.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/B8tj4GMgPwT/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-8.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/B8fj8C1gS4_/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-9.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/B8fp9i9gxT0/" target="_blank" class="link-btn"></a>
                </div>
                
                <div class="single-instagram-post">
                    <img src="assets/img/backpacker-instagram/insta-10.jpg" alt="image">
                    <i class="ri-instagram-line"></i>
                    <a href="https://www.instagram.com/p/B_7rhMRgxbR/" target="_blank" class="link-btn"></a>
                </div>
            </div>    
        </section>
        <div id="brand" class="my-clients-area ptb-120 bg-0f1d22">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Trekking Partners</span>
                    <h2>The Brands I believe in</h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="single-clients">
                            <a href="https://www.oneplus.in/">
                                <img src="assets/img/brands/brand-4.png" alt="image">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="single-clients">
                            <a href="https://www.decathlon.in/">
                                <img src="assets/img/brands/brand-3.png" alt="image">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="single-clients">
                            <a href="https://www.ktm.com/en-in.html">
                                <img src="assets/img/brands/brand-1.png" alt="image">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="single-clients">
                            <a href="https://gopro.com/en/us/">
                                <img src="assets/img/brands/brand-2.jpg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="ContactMe" class="footer-area">
            <div class="container">
                <div class="footer-content">
                    <div class="logo">
                        <a>
                            <img src="assets/img/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="footer-contact-info">
                        <ul>
                            <li><i class="ri-map-pin-line"></i>  <a href="https://maps.app.goo.gl/CtxZNBErz1rEzyQD9" target="_blank">Yashree, Plot no 41 & 42, Shanti Udyan, Apte Nagar, Kolhapur</a></li>
                            <!-- <li><i class="ri-mail-line"></i> <a href="mailto:yashturmbekar7@gmail.com">goprobaba@gmail.com</a></li>
                            <li><a href="tel:8237381312">8237381312</a><i class="ri-phone-line"></i> </li> -->
                   
                        </ul>
                    </div>

                    <ul class="social">
                        <li><a href="tel:8237381312" target="_blank">Phone</a></li>
                        <li><a href="https://www.linkedin.com/in/yash-turmbekar-a842811a1/" target="_blank">LinkedIn</a></li>
                        <li><a href="mailto:yashturmbekar7@gmail.com" target="_blank">Gmail</a></li>
                        <li><a href="https://www.instagram.com/gopro.baba/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <p>  {{currentYear}}  <a href="#" target="_blank">Yash Turmbekar </a> All Rights Reserved by  </p>
                </div>

                <div class="line"></div>
            </div>
        </footer>
    </div>
</div>
<!-- End Main Container Area -->